A.S.P.I.C/data/containor/dpoint3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DPoint3D">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="x" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="y" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="z" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
    </xs:element>
</xs:schema>

