A.S.P.I.C/data/containor/ipoint3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="IPoint3D">
	<xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="x" type="xs:int" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="y" type="xs:int" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="z" type="xs:int" minOccurs="1" maxOccurs="1"/>
                                    </xs:sequence>
                                </xs:complexType>
    </xs:element>
</xs:schema>

